// bower:scss
// endbower

@import "bourbon";
@import "typo";
@import "globals";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  @include font-size(1.8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $slate;
  color: $carl;
  font-family: $walsheim-reg;
  position: relative;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $slate;
  font-family: $walsheim-light;
  font-weight: normal;
}

a {
  text-decoration: none;
}

section {
  position: relative;

  .center {
    margin: 0 auto;
    width: 90%;

    @media screen and (max-width: 780px) {
      padding: 0 20px;
      width: 100%;
    }

    @media screen and (max-width: 400px) {
      padding: 0 15px;
    }

    h2, h3 {
      @include font-size(1.8);
      margin: 0 0 22px;
    }

    .row {
      margin-bottom: 25px;
    

      ul {
        @include clearfix;
        margin: 0;
        padding: 0;

        li {
          display: block;
          float: left;
          overflow: hidden;
          padding-top: 30.5%;
          position: relative;
          width: 33.3333% ;

          a {
            @include calc(width, "100% - 22px");
            -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
            backface-visibility: hidden;
            display: block;
            height: 100%;
            left: 0;
            overflow: hidden;
            position: absolute;
            top: 0;

            .thumb {
              @include transition(all .2s ease-in-out);
              background: white;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: cover;
              height: 70%;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;

              &:after {
                @include opacity(0);
                @include transition(opacity 0.2s ease-in-out);
                background: rgba($carl, .5);
                content: "";
                display: block;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 2;
              }

              &.ness {
                &:after {
                  background: rgba($ness, .5);
                }
              }

              &.pi {
                &:after {
                  background: rgba($pi, .5);
                }
              }

              &.knox {
                &:after {
                  background: rgba($knox, .5);
                }
              }

              &.squee {
                &:after {
                  background: rgba($squee, .5);
                }
              }

              &.baloo {
                &:after {
                  background: rgba($baloo, .5);
                }
              }
            }

            .caption {
              @include transition(all 0.2s ease-out);
              background: $carl;
              bottom: 0;
              display: block;
              left: 0;
              padding: 18px 24px;
              position: absolute;
              width: 100%;
              z-index: 3;

              &.ness {
                background: $ness;
              }
              &.baloo {
                background: $baloo;
              }
              &.squee {
                background: $squee;
              }
              &.pi {
                background: $pi;
              }
              &.knox {
                background: $knox;
              }
              &.carl {
                background: $carl;
              }
            }

            .topper {
              @include clearfix;
            }

            .cat, .ep {
              @include font-size(1.2);
              font-family: $walsheim-light;
            }

            .cat {
              color: $slate;
              float: left;
            }

            .ep {
              background: rgba($ness, .2);
              color: rgba($slate, .6); 
              float: right;
              display: block;
              position: relative;
              width: 20%;

              summary, mark {
                position: absolute;
                top: 0;
                right: 0;
              }

              summary {
                @include transition(all 0.2s ease-in-out);
                @include opacity(1);
                @include transform(translateY(0));
              }

              mark {
                @include transition(all 0.2s ease-in-out);
                @include opacity(0);
                @include transform(translateY(20px));
                background: url(../images/svg/youtube-play.svg) no-repeat center center;
                display: block;
                height: 19px;
                width: 26px;
              }
            }

            .title {
              @include transition(color 0.2s ease-out);
              color: white;
              display: block;
              font-family: $walsheim-reg;
              padding: 2px 0 0;
            }

            &:hover {
              .thumb {
                &:after {
                  @include opacity(1);
                }
              }

              .caption {
                padding: 22px 24px;

                summary {
                  @include opacity(0);
                  @include transform(translateY(-20px));
                }

                mark {
                  @include opacity(1);
                  @include transform(translateY(-1px));
                }
              }
            }

          }

          &:nth-child(2) {
            a {
              @include calc(width, "100% - 11px");
              @include transform(translateX(-50%));
              left: 50%;

              .thumb {
                width: 99.9%;
              }

              .caption {
                width: 100.3%;
              }
            }  
          }

          &:nth-child(3) {
            a {
              left: auto;
              right: 0;
            }
          }

          @media screen and (min-width: 1500px) {
            a {
              .thumb {
                height: 100%;
              }
            } 
          }

          @media screen and (min-width: 1100px) and (max-width: 1499px) {
            a {
              .thumb {
                height: 85%;
              }
            } 
          }

          @media screen and (max-width: 700px) {
            float: none;
            padding-top: 80%;
            position: relative;
            margin-bottom: 25px;
            width: 100%;

            a {
              left: 0;
              right: auto;
              top: 0;
              width: 100% !important;

              .thumb {
                height: 85%;
              }
            }

            &:nth-child(2) {
              a {
                @include transform(translateX(0));
                left: auto;
              }  
            }

            &:nth-child(3) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.modal {
  background: rgba(black, .85);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  img {
    @include transform(translateX(-50%) translateY(-50%));
    height: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 30%;
  }
}

.hero {
  background: url('../images/hero.jpg') no-repeat center top;
  background-attachment: fixed;
  background-size: 110% auto;
  height: 500px;
  position: relative;

  @media screen and (min-width: 1200px) {
    background-size: 100% auto;
  }

  @media screen and (max-width: 1000px) {
    background-size: 125% auto;
  }

  @media screen and (max-width: 800px) {
    background-size: 145% auto;
  }

  @media screen and (max-width: 700px) {
    background-size: 145% auto;
    height: 370px;
  }

  @media screen and (max-width: 550px) {
    background-size: 165% auto;
  }

  @media screen and (max-width: 400px) {
    // height: 480px;
    background-size: 265% auto;
  }

  &.alt {
    background: url('../images/hero-alt.jpg') no-repeat center top;
    background-size: 100% auto;
    background-attachment: fixed;

    @media screen and (min-width: 1200px) {
      background-size: 100% auto;
    }

    @media screen and (max-width: 1000px) {
      background-size: 130% auto;
    }

    @media screen and (max-width: 800px) {
      background-size: 145% auto;
    }

    @media screen and (max-width: 700px) {
      background-size: 135% auto;
      height: 370px;
    }

    @media screen and (max-width: 550px) {
      background-size: 165% auto;
    }

    @media screen and (max-width: 400px) {
      // height: 480px;
      background-size: 265% auto;
    }
  }

  .center {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 90%;

    @media screen and (max-width: 780px) {
      width: 100%;
    }


  }

  .cut-logo {
    @include transform(translateY(-50%));
    @include transition(opacity 0.2s ease-in-out);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: block;
    height: 158px;
    left: 7%;
    position: absolute;
    top: 50%;
    width: 220px;

    @media screen and (max-width: 700px) {
      @include transform(translateY(-80%) translateX(-50%));
      height: 144px;
      left: 50%;
      width: 200px;
    }

    img {
      width: 100%;
    }

    &:hover {
      @include opacity(.85);
    }
  }
}

.highlights {
  height: 5%;
  position: relative;

  @media screen and (max-width: 700px) {
    height: auto;
  }

  .center {
    @include transform(translateY(-80px));
    padding: 0 7%;
    position: relative;

    .row {
      margin: 0;
    }
  }

  h2 {
    color: white;
    display: inline-block;
  }

  .social-container {
    height: 22px;
    position: absolute;
    right: 8%;
    top: 0;
    width: 210px;

    @media screen and (max-width: 401px) {
      left: 8%;
      top: -40px;
      right: auto;
    }

    .g-ytsubscribe, #___ytsubscribe_0 {
      position: absolute;
      top: 0;
      right: 0;
    }

    .social-menu {
      display: block;
      height: 22px;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      right: 133px;
      top: 1px;
      width: 200px;
      z-index: 2;

      li {
        display: block;
        float: right;
        height: 22px;
        margin-left: 7px;
        margin-bottom: 0;
        list-style: none;
        width: 22px;

        a {
          @include transition(all .2s ease-in-out);
          @include opacity(1);
          display: inline-block;
          height: 100%;
          width: 100%;

          img {
            height: auto;
            width: 100%;
          }

          span {
            display: none;
          }

          &:hover {
            @include opacity(.8);
          }
        }
      }
    }

    // @media screen and (max-width: 400px) {
    //   height: 54px;
    //   top: -15px;

    //   .g-ytsubscribe, #___ytsubscribe_0 {
    //     bottom: 0;
    //     top: auto;
    //   }

    //   .social-menu {
    //     right: 0;
    //   }
    // }
  }

  
  

}

.series {
  margin-bottom: 65px;
  
  .center {
    background: white;
    padding: 25px 7% 70px;
  }

  h2 {
    color: #888;
    text-align: center;
  }
  .cut-blurb {
    color: #888;
    padding-top: 60px;
    margin: 0 auto;
    width: 325px;
    text-align: center;

    @media screen and (max-width: 550px) {
      width: 90%;
    }

    .baloo-text, .slate-text {
      display: block;
      font-family: $walsheim-bold;
    }

    a {
      @include transition(color 0.2s ease-in-out);
      color: $ness;
      font-family: $walsheim-bold;

      &:hover {
        color: $slate;
      }
    }
  }
}

.site-footer {
  @include font-size(.9);
  background: url('../images/footer-hand.jpg') no-repeat center bottom;
  background-size: cover;
  height: 646px;
  position: relative;

  @media screen and (min-width: 701px) and (max-width: 1075px) {
    height: 500px;
  }

  @media screen and (max-width: 700px) {
    height: 400px;
  }

  .disclaimer {
    @include transform(translateX(-50%));
    color: $slate;
    bottom: 15px;
    left: 50%;
    position: absolute;
    text-align: center;
    width: 50%;

    p {
      margin: 0;
    }

    @media screen and (min-width: 701px) and (max-width: 1075px) {
      bottom: 10px;
      width: 80%;
    }

    @media screen and (max-width: 700px) {
      @include transform(translateX(-50%));
      bottom: auto;
      left: 50%;
      right: auto;
      text-align: left;
      top: 10%;
      width: 70%;
    }

    strong {
      font-family: $walsheim-bold;
      font-weight: normal;
    }

    a {
      @include transition(color 0.2s ease-in-out);
      color: $ness;

      &:hover {
        color: $slate;
      }
    }
  }
}

