// bower:scss
// endbower

@import "bourbon";
@import "typo";
@import "globals";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font-family: $walsheim-reg;
  color: #333;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $walsheim-light;
  font-weight: normal;
}

section {
  position: relative;

  .center {
    margin: 0 auto;
    width: 780px;

    @media screen and (max-width: 780px) {
      width: 100%;
    }

    h2 {
      @include font-size(1.8);
      margin: 0;
    }

    h3 {
      @include font-size(1.8);
    }

    ul {
    @include clearfix;
    margin: 0;
    padding: 0;

      li {
        display: block;
        float: left;
        padding-top: 30.5%;
        position: relative;
        width: 33.3333% ;

        a {
          @include calc(width, "100% - 22px");
          background: black;
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;

        }

        &:nth-child(2) {
          a {
            @include calc(width, "100% - 12px");
            @include transform(translateX(-50%));
            left: 50%;
          }  
        }

        &:last-child {
          a {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}


.hero {
  background: url('/images/hero.jpg') no-repeat center center;
  background-size: cover;
  height: 500px;
  position: relative;

  .cut-logo {
    @include transform(translateY(-50%));
    display: block;
    height: 79px;
    right: 10%;
    position: absolute;
    top: 50%;
    width: 110px;

    img {
      width: 100%;
    }
  }
}

.highlights {
  background: $carl;
  position: relative;

  .center {
    @include transform(translateY(-50px));
  }

  h2 {
    color: $carl;
  }

}

.series {
  h2 {
    color: $carl;
    text-align: center;
  }
  .cut-blurb {
    text-align: center;
  }
}

.site-footer {
  background: url('/images/footer.jpg') no-repeat center center;
  background-size: cover;
  height: 400px;
}

